# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/

# Databricks
.databricks/
*.dbc

# Data
data/raw/*.csv
data/processed/*.parquet
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Carpetas vacías no necesarias
databricks-sync/